<div id="StyleForm">
    <div id="Popup">
        <hex-alpha-color-picker class="color-only" id="ColorPicker"></hex-alpha-color-picker>
        <div id="Buttons">
            <button id="DefaultButton">Default</button>
            <button id="SaveButton">Save</button>
        </div>
    </div>

    <h2 style="margin-top: 5px">affected squares:</h2>
    <div class="form-row two-columns">
        <label for="areaFillColor">Fill:</label>
        <div class="input">
            <div class="color-box" id="areaFillColor"></div>
        </div>
        <label for="areaStrokeColor">Outline:</label>
        <div class="input">
            <div class="color-box" id="areaStrokeColor"></div>
        </div>
    </div>

    <h2>original shape:</h2>
    <div class="form-row two-columns">
        <label for="shapeFillColor">Fill:</label>
        <div class="input">
            <div class="color-box" id="shapeFillColor"></div>
        </div>
        <label for="shapeStrokeColor">Outline:</label>
        <div class="input">
            <div class="color-box" id="shapeStrokeColor"></div>
        </div>
    </div>
    <div class="form-row">
        <label for="shapeDisplayMode">Show:</label>
        <select id="shapeDisplayMode" style="width: 40%;">
            <option value="always">Always</option>
            <option value="drawing">While Drawing</option>
            <option value="never">Never</option>
        </select>
    </div>

    <h2>label:</h2>
    <div class="form-row">
        <label for="labelDisplayMode">Show:</label>
        <select id="labelDisplayMode" style="width: 40%;">
            <option value="always">Always</option>
            <option value="drawing">While Drawing</option>
            <option value="never">Never</option>
        </select>
    </div>

    <div style="text-align: right; margin-top: 10px">
        <button id="resetStyles">Reset Styles</button>
    </div>
</div>
