html, body {
  margin: 0;
  padding: 0.5em;
  color: white;
  font-family: sans-serif;
}

div.form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  vertical-align: center;

  label {
    width: 25%;
  }

  input, .input, select {
    width: 75%;
  }

  small {
    margin-top: 0.5em;
    display: block;
  }

  &.two-columns {
    input, .input, select {
      width: 25%;
    }
  }
}

h2 {
  margin: 25px 0 5px 0;
  font-variant: small-caps;
}
