<div>
    <div class="form-row">
        <label for="coneOverlapPc">Cone Overlap threshhold (%)</label>
        <input type="number" min="0" max="100" value="30" id="coneOverlapThreshold" style="width: 50px">
        <small>How much of a square needs to be covered by a cone to be hit.&ensp;By RAW this should be 0.</small>
    </div>
</div>
